<% layout('layouts/boilerplate') %> 

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><a href="/">Click here</a> to go to to the home page.</p>
<p><a href="things/new">Click here</a> to go to the form to add a new person.</p>
<p><a href="things/index">Click here</a> to go to the people index page.</p>
<p><a href="users/register">Click here</a> to register.</p>
<p><a href="users/login">Click here</a> to log in.</p>
<p><a href="users/index">Click here</a> to view all users.</p>
<p><a href="users/logout">Click here</a> to log out.</p>

